@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  font-family: "San Francisco";
  font-size: 14px;
}

.selecionarCor{
  border: .1rem solid blue;
  border-radius: 50%;
  padding: 0.1rem;
}

.selecionarTamanho{
  border: .125rem solid blue;
}