@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  font-family: "San Francisco";
  max-width: 1000px;
  margin: 0 auto;
  font-size: 14px;
}

.selecionar{
  border: .1rem solid blue;
  border-radius: 50%;
  padding: 0.1rem;
}